.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent .map {
  grid-area: 1 / 1 / 2 / 4;
  position: relative;
}

.parent .sidebar {
  grid-area: 1 / 4 / 2 / 6;
}

.header {
  margin: 0 1em;
  color: #3f3333;
  font-size: 0.8em;
}
